.homeSlider {
	/*margin-left: 1%;
	margin-right: 1%;*/
}
.navbar.transparent.navbar-inverse {
   background: rgba(0,0,0,0) !important;
   color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white !important;
} 

.btn-mas {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f98d2f+0,ef2dcc+100 */
	background: #f98d2f; /* Old browsers */
	background: -moz-linear-gradient(left,  #f98d2f 0%, #ef2dcc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #f98d2f 0%,#ef2dcc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #f98d2f 0%,#ef2dcc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f98d2f', endColorstr='#ef2dcc',GradientType=1 ); /* IE6-9 */
	border-radius: 30px;
	width: 20%;
	/*height: 20%;*/
	border-color:transparent;
	/*border-color: none;*/
}

.msItem {
	margin-top: 500px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 15%;
    top: 40%;
    left: 15%;
    z-index: 10;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-caption h1 {
	font-size: 20px;
}

.carousel-caption h2 {
	font-size: 20px;
}

footer {
	background-image: url('../img/back_03.jpg');
	height: 70vh;
	background-position: right bottom;
}

footer .con-foo {
	color: white;
	font-size: 6vh;
	padding-top: 4%;
}

footer .iconos-foo {
	float: none;
    margin: 0 auto;
}

footer img {
	margin-left: 3%;
	margin-right: 3%;
}

footer .redes {
	border-bottom: 3px solid rgba(255,255,255,.8);
	margin-top: 3%;
}

footer .redes-ch {
	border-bottom: 3px solid rgba(255,255,255,.8);
	margin-top: -10px;
}

footer .lin {
	margin-left: 6.5%;
}

footer p {
	color: white;
}

footer .parr {
	margin-left: -2%;
	margin-top: 4%;
}

.secciones {
	background-color: #D75847;
}

.img-seccion {
	width: 100%;
}

.secc-con {
	margin-bottom: 1%;
}

.text-secc {
	width: 50%;
}